
<div class="header">
  <nav class="nav">
    <a routerLink="/">Home</a>
    <a routerLink="/login">Login task</a> 
  </nav>
</div>

<div class="breadcrumbscomponent">
  <h3>Breadcrumbs</h3>
  <app-breadcrumbs></app-breadcrumbs>
</div>

<div class = "routerOutlet"> 
  <h3>Router routerOutlet</h3>
  <router-outlet></router-outlet>
</div>

<!-- <div class="login-logout">
   <h3>login/logout</h3>
    <app-login></app-login>
 </div>

 <div class="test1ServiceWithInjectionTockenFor2Components">
  <h3>Test 1 Service with InjectionToken for 2 Components</h3>
   <app-second-component></app-second-component>
   <app-first-component></app-first-component>
 </div> -->